
#test{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.miss{
    width:400px;
    height: 220px;
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);

}
.login {
    justify-content: center;
    padding: 5px;
    margin-left: 40px;
    width: 100px;
    border-radius: 8px;
    border: none;
    background-color: rgb(4, 162, 224);
    color: white;
    font-weight: 750;
    box-shadow: 2px 2px 5px rgba(26, 219, 8, 0.562);
}
.login:hover{
    background-color: rgba(0, 132, 255, 0.596);
}